@page
@model InnocodeWeb.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Project</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Project.Id" />
            <div class="form-group">
                <label asp-for="Project.TeamId" class="control-label"></label>
                <select asp-for="Project.TeamId" class="form-control" asp-items="ViewBag.TeamId"></select>
                <span asp-validation-for="Project.TeamId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Project.Title" class="control-label"></label>
                <input asp-for="Project.Title" class="form-control" />
                <span asp-validation-for="Project.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Project.Summary" class="control-label"></label>
                <input asp-for="Project.Summary" class="form-control" />
                <span asp-validation-for="Project.Summary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Project.IsApproved" class="control-label"></label>
                <input asp-for="Project.IsApproved" class="form-control" />
                <span asp-validation-for="Project.IsApproved" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
